:root {
  --TMGreen: #1e392a;
  --TMBlue: #008f95;
  --black-russian: #1c1d21;
  --snow: #fafafa;
  --light-gray: #eee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*Utility Classes + styling */
a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.8rem 0;
  color: #fafafa;
}

button {
  outline: 0;
  font-family: inherit;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.normal-text {
  color: var(--snow);
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.2rem;
}

/*header */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(../images/BGPhoto1.jpg) center/cover fixed no-repeat;
}

.video-container {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: -999;
  background-color: black;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

.bar1,
.bar2,
.bar3 {
  width: 26px;
  height: 4px;
  background: black;
  margin: 6px 0;
  transition: all 0.6s ease;
}

.navbar-toggler {
  border: none;
  padding: 0 0.3rem;
  cursor: pointer;
  background-color: inherit;
}

.brand-and-toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: fixed;
  background: var(--TMBlue);
  padding: 0.5rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 5vh;
}

.navbar-collapse {
  background: #1c1d21;
  position: fixed;
  top: 65px;
  right: 0;
  width: 260px;
  height: 100%;
  transform: translate(300px);
}

.nav-item {
  padding: 1rem;
  border-bottom: 0.7px solid rgba(255, 255, 255, 0.3);
}

/*.nav-item:last-child {
  border-bottom: none;
} */

.nav-item:hover {
  background: var(--TMBlue);
}

.nav-link {
  color: white;
  font-weight: 500;
}

/*shows the nav bar */
.showNav {
  transform: translateX(0);
}

.animatedNav .bar1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.animatedNav .bar2 {
  opacity: 0;
}

.animatedNav .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

/*****/
.header-banner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60vh;
  max-height: auto;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.banner-title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fafafa;
}

.banner-buttons {
  margin-top: 1.2rem;
}

.banner-button {
  background: transparent;
  padding: 0.7rem 1rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.banner-button:first-child {
  background: #fafafa;
  margin-right: 0.4rem;
}

.banner-button:last-child {
  background: #fafafa;
  margin-right: 0.4rem;
}

.banner-button a {
  color: black;
}

.banner-button a:hover {
  color: var(--snow);
}

.banner-button:hover {
  background: var(--TMBlue);
  opacity: 0.8;
}

.Music-Gallery {
  background-color: var(--TMBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 20rem 5rem;
  border-bottom: 0.7px solid rgba(255, 255, 255, 0.3);
}

.section-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: var(--snow);
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem;
  margin-right: 4rem;
  margin-top: 4rem;
  width: 100%;
  overflow-wrap: normal;
}

.cards-wrap {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-right: 4rem;
  width: 100%;
  overflow-wrap: normal;
}

.card {
  width: 35rem; /* original values are 37rem width 45rem height */
  height: 30rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.7rem;
  position: relative;
}

.card-img-wrapper {
  width: 120%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.7rem;
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  border-radius: 0.7rem;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.5;
}

.card-info {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  text-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

.card-info h2 {
  font-family: "Mulish", serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: whitesmoke;
}

.card-info h3 {
  font-family: "Mulish", serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: whitesmoke;
  margin-bottom: 1rem;
}

.card-info button {
  width: 10rem;
  height: 3rem;
  background-color: var(--TMBlue);
  border: none;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  color: black;
  border-radius: 0.3rem;
  box-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}

.footer {
  width: 100%;
  height: 10rem;
  background-color: var(--TMGreen);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-family: "Barlow", serif;
  font-size: 1.4rem;
}

.social-list a {
  margin: 0 2rem;
}
/* Media Queries */

@media screen and (min-width: 1000px) {
  .container {
    width: 88vw;
  }

  .header-wrapper {
    padding: top 0;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-wrapper {
    position: fixed !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
  }

  .navbar-collapse {
    position: relative;
    transform: translateX(0);
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: transparent;
  }

  .navbar {
    width: 100px;
    background: transparent;
    border-bottom: 0;
  }

  .navbar-nav {
    display: flex;
  }

  .nav-item {
    border-bottom: none;
    position: relative;
  }

  .nav-item::after {
    position: absolute;
    content: "";
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background: var(--TMBlue);
    width: 0;
    transition: width 0.3s ease;
  }

  .nav-item:hover {
    background: none;
  }

  .nav-item:hover::after {
    width: 70%;
  }

  .navbar-brand {
    color: white;
    margin-left: 1rem;
  }

  .nav-link:hover {
    opacity: 0.8;
  }

  .fxd-navbar-wrapper {
    background: var(--TMBlue);
    padding-top: 0 !important;
    position: fixed !important;
    top: 0;
    width: 100%;
    padding: 0 55px 0;
  }

  .navbar-wrapper .nav-link {
    color: black;
    opacity: 0.8;
  }

  .navbar-wrapper .navbard-brand {
    color: black;
  }

  .navbar-wrapper .nav-link:hover {
    color: var(--snow);
  }

  @media screen and (min-width: 1200px) {
    .container {
      width: 85vw;
    }

    .navbar-wrapper {
      padding: 0 110px 0;
    }
  }
}
